* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 100%;
  background: #F1F1F1;
}

:root {
  --primaryGradient: linear-gradient(93.12deg, #581B98 0.52%, #9C1DE7 100%);
  --secondaryGradient: linear-gradient(268.91deg, #581B98 -2.14%, #9C1DE7 99.69%);
  --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
  --primary: #581B98;
  --headerColor: white;
  --footerColor: white;
  --visitorMessageBg: #E0E0E0;
  --operatorMessageBg: var(--primary);
  --textColorOperator: white;
  --textColorVisitor: black;
}

/* CHATBOX */
.chatbox {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 10;
}

.chatbox__button button {
  padding: 10px;
  background: white;
  border: none;
  border-radius: 50%;
  box-shadow: var(--primaryBoxShadow);
  cursor: pointer;
}

.chatbox__support {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 450px;
  background: #f9f9f9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  opacity: 0;
  z-index: -1;
  transition: all 0.5s ease-in-out;
  transform: translateY(20px);
}

.chatbox--active {
  opacity: 1;
  z-index: 15;
  transform: translateY(0);
}

/* HEADER */
.chatbox__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 20px;
  background: var(--primaryGradient);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: var(--headerColor);
  box-shadow: var(--primaryBoxShadow);
}

.chatbox__image--header {
  margin-right: 10px;
}

.chatbox__heading--header {
  font-size: 1.2rem;
}

.chatbox__description--header {
  font-size: 0.9rem;
}

/* MESSAGES */
.chatbox__messages {
  padding: 15px 20px;
  flex-grow: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column-reverse;
}

.messages__item {
  max-width: 70%;
  padding: 8px 12px;
  margin-top: 10px;
  border-radius: 20px;
  word-wrap: break-word;
}

.messages__item--visitor {
  align-self: flex-start;
  background: var(--visitorMessageBg);
  color: var(--textColorVisitor);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.messages__item--operator {
  align-self: flex-end;
  background: var(--operatorMessageBg);
  color: var(--textColorOperator);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

/* FOOTER */
.chatbox__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background: var(--secondaryGradient);
  box-shadow: var(--secondaryBoxShadow);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.chatbox__footer input {
  width: 80%;
  padding: 10px;
  border: none;
  border-radius: 30px;
  outline: none;
}

.send__button {
  background: transparent;
  border: none;
  color: var(--footerColor);
  cursor: pointer;
}

.chatbox__button button:focus,
.chatbox__button button:visited {
  outline: none;
}
